*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 50%;
    margin: 0 auto;
    background: rgb(18, 18, 18);
    position: relative;
}
.main-container{
    position: relative;
    min-width: 50%;
    min-height: 420px;
    background: rgba(253, 253, 253, 0.53);
    border-radius: 12px;
    padding:20px;
    margin-top: 20px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.685);
}
header{
    text-align: center;
}
header h1{
    margin-top: 15px;
    font-size: 70px;
    color: rgb(0, 213, 255);
    font-weight: 300;
}
/* main input field list */

.input_middle{
    min-width: 100%;
    display: flex;
    padding-right: 90px;
    padding-left:48px;
    margin-bottom: 20px;
}
.input_field{
    width:100%;
    min-height: auto;
    font-size: 16px;
    color: rgb(221, 221, 239);
    border: none;
    background: none;
    outline: none;
    border-bottom: 1px solid rgba(214, 224, 242, 0.541);
    padding: 8px;
    margin-top:15px;

}
.input_field::placeholder{
    color: rgb(101, 96, 96);
}
.input_field:focus{
    border-radius:10px;
    background: rgba(23, 23, 23, 0.164);
    outline: none;
    border-bottom: 1px solid rgb(214, 224, 242);
}
/* //input button */
.main-container .input_btn{
    position:absolute;
    top:35px;
    right: 28px;
    background: rgba(0, 0, 0, 0.685);
    width:70px;
    height:37px;
    color: rgb(255, 255, 255);
    border-radius:7px;
    outline: none;
    /* border: 1.4px solid rgb(0, 213, 255); */
    border: 1.3px solid rgba(255, 255, 255, 0.829);
    cursor: pointer;  
    transition: transform 0.2s;
    box-shadow:4px 3px 12px rgba(0, 0, 0, 0.249);
}
.input_btn:active{
    opacity: 0.8;
    color: rgb(241, 236, 236);
    background: rgba(16, 16, 16, 0.802);
    cursor: pointer;
    transition-duration: 1s;
    border: none;
    border: 1.8px inset rgb(23, 23, 23);
    transform: scale(0.9);
    box-shadow: none;
    
}
/* search icon */
.search_icon{
    position: absolute;
    top: 36px;
    left:-7px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    background: black;
    height:35px;
    width:35px;
    border-radius: 50%;
    cursor: pointer;
}
.plus_icon{
    position: absolute;
    top: 36px;
    left:-7px;
    display: grid;
  place-items: center;
    margin-left: 30px;
    background: black;
    height:35px;
    width:35px;
    border-radius: 50%;
    padding:6px 11px 0px 8.2px;
    cursor: pointer;
    color: white;
}

.plus_icon:hover{
    color: rgba(245, 245, 245, 0.737);
}
.fa-magnifying-glass:hover{
    color: rgba(245, 245, 245, 0.737);


}
/* search input */
.input_layer{
    display: flex;
    padding-right: 91px;
    padding-left:48px;
    /* margin-bottom: 20px; */
}
.search_input{
    width:100%;
    min-height: auto;
    font-size: 16px;
    color: rgb(221, 221, 239);
    border: none;
    background: none;
    outline: none;
    border-bottom: 1px solid rgba(214, 224, 242, 0.541);
    padding: 8px;
    margin-top:15px;
}
.search_input::placeholder{
    color: rgba(240, 248, 255, 0.578);
    font-weight: 300;
}
.search_input:focus{
    border-radius:10px;
    background: #df0529bd;
    outline: none;
    border-bottom: 1px solid rgb(214, 224, 242);
    color: rgb(240, 240, 240)
}
.clear_button{
    position: absolute;
    top:43px;
    right: 120px;
    background: transparent;
    color: rgb(255, 255, 255);
    border:none;
    outline: none;
    font-size:large;
    cursor: pointer;


}
.clear_button:hover{
    color: black;
    }

/* //sren for all media devices */
@media screen and (max-width:320px){
    body{
        min-width:90%;
        margin: 0 auto;
        padding-top: 40px;
    }
    header h1{
        font-size: 40px;
        margin-bottom: 40px;

    }
    .input_middle{
        display: flex;
        padding-left: 31px;
        padding-right: 39px;
    }
    .input_field{
        font-size: 14px;
        margin: 15px 0 20px 0px;
        padding: 8px;
        width: 100%;
    }
    .main-container .input_btn{
        width:40px;
        height:30px;
        font-size: small;
        top: 35px;
        right:10px;

    }
    .tab_container{
        margin-top:25px;
    }
    .search_icon{
        position: absolute;
        top: 38px;
        width:28px;
        height:28px;
        font-size: 14px;
        margin-left: 20px;

       
    }
    .plus_icon{
        position: absolute;
        top: 38px;
        width:28px;
        height:28px;
        font-size: 14px;
        margin-left: 20px;
        padding: 3.7px 6px 3px 5.9px;
    }
    .clear_button{
        position: absolute;
        top:42px;
        right:70px;
    }
    .search_input{
        font-size: 14px;
        margin: 15px 0 20px 0px;
        padding: 8px;
        width: 100%; 
    }
    .input_layer {
        display: flex;
        padding-left: 31px;
        padding-right: 40px;
    }
    .middle_layer{
        margin-top: -20px;
        min-height: 20px;

    }
    .fa-magnifying-glass{
        font-size: .8rem;
    }
    .main-container{
        min-height: 24rem;
        margin-bottom: 40px;

    }
    .fa-keyboard{
        font-size: .9rem;
            }
}
@media screen and (min-width:321px) and (max-width:360px){
    body{
        min-width:90%;
        margin: 0 auto;
        padding-top: 50px;

    }
    .fa-keyboard{
font-size: 1rem;
    }
    header h1{
        font-size: 40px;
        margin-bottom: 40px;

    }
    .main-container{
        padding:10px;
    }
    .input_layer {
        display: flex;
        padding-left: 45px;
        padding-right: 70px;
    }
    
    .input_middle{
        display: flex;
        padding-left: 46px;
        padding-right: 70px;
    }
    .input_field{
        font-size:16px;
        margin: 15px 0px 20px 2px ;
        padding: 10px;

    }
    .main-container .input_btn{
        top:24px;
        right:10px;
        width:60px;
        height: 38px;
    }
    .search_icon{
        position: absolute;
        top: 27px;
        width:34px;
        height:34px;
        font-size: 15px;
        margin-left: 20px;

       
    }
    .plus_icon{
        position: absolute;
        top: 27px;
        width:34px;
        height:34px;
        font-size: 15px;
        margin-left: 20px;

        padding: 6px 1px 4px 8px;
    }
    .search_input{
        font-size:16px;
        margin: 15px 0px 20px 2px ;
        padding: 10px;
    }
    .clear_button{
        position: absolute;
        top:31px;
        right:90px;
    }
} 
@media screen and (min-width:361px) and (max-width:376px){
    body{
        min-width:90%;
        margin: 0 auto;
        padding-top: 50px;

    }
    header h1{
        font-size: 40px;
        margin-bottom: 40px;

    }
    .fa-keyboard{
        font-size: .9rem;
            }
    .main-container{
        padding:10px;
    }
    .input_layer {
        display: flex;
        padding-left: 45px;
    padding-right: 70px;
    }
    
    
    .input_middle{
        display: flex;
        padding-left: 45px;
    padding-right: 70px;
    }
    
    .input_field{
        font-size:16px;
        margin: 15px 0px 20px 2px ;
        padding: 12px;
    }
    .main-container .input_btn{
        top:24px;
        right:10px;
        width:60px;
        height:40px;
    }
    .search_icon{
        position: absolute;
        top: 28px;
        width:35px;
        height:35px;
        font-size: 20px;    
        margin-left: 20px;

    }
    .plus_icon{
        position: absolute;
        top: 28px;
        width:35px;
        height:35px;
        font-size: 15px;
        padding: 6px 2px 4px 9px;
        margin-left: 20px;

    }
    .search_input{
        font-size:16px;
        margin: 15px 0px 20px 2px ;
        padding: 12px;
    }
    .clear_button{
        position: absolute;
        top:31px;
        right:90px;
    }
    .fa-magnifying-glass{
        font-size: 1rem;
    }
}
@media screen and (min-width:377px) and (max-width:389px){
    body{
        min-width:90%;
        margin: 0 auto;
        padding-top: 70px;

    }
    header h1{
        font-size: 40px;
        margin-bottom: 40px;

    }
    .main-container{
        padding:10px;
    }
    .input_layer {
        display: flex;
        padding-left: 52px;
        padding-right: 75px;
    }
    
    
    .input_middle{
        display: flex;
        padding-left: 50px;
        padding-right: 72px;
    }
    .input_field{
        font-size:16px;
        margin: 15px 0px 20px 2px ;
        padding: 12px;
    }
    .main-container .input_btn{
        top:24px;
        right:10px;
        width:60px;
        height:32px;
    }
    .search_icon{
        position: absolute;
        top: 28px;
        
        width:34px;
        height:34px;
        font-size: 20px;
       
    }
    .plus_icon{
        position: absolute;
        top: 28px;
        width:34px;
        height:34px;
        font-size: 15px;
        /* padding: 4px 7px 4px 7px; */

    }
    .search_input{
        font-size:16px;
        margin: 15px 0px 20px 2px ;
        padding: 12px;
    }
    .clear_button{
        position: absolute;
        top:31px;
        right:90px;
    }
}
@media screen and (min-width:390px) and (max-width:393px){
    body{
        min-width:90%;
        margin: 0 auto;
        padding-top: 50px;

    }
    header h1{
        font-size: 40px;
        margin-bottom: 40px;

    }
    .main-container{
        padding:10px;
    }
    .input_layer {
        display: flex;
        padding-left: 46px;
        padding-right: 73px;
    }
    
    .input_middle{
        display: flex;
        padding-left: 46px;
        padding-right: 73px;
    }
    .input_field{
        font-size:16px;
        margin: 15px 0px 20px 2px ;
        padding: 10px;
    }
    .main-container .input_btn{
        top:24px;
        right:10px;
        width:60px;
        height:40px;
    }
    .search_icon{
        position: absolute;
        top: 28px;
        width:34px;
        height:34px;
        font-size: 20px;
        margin-left: 20px;

       
    }
    .plus_icon{
        position: absolute;
        top: 28px;
        width:34px;
        height:34px;
        font-size: 15px;
        padding: 6.5px 4px 3px 8.4px;
        margin-left: 20px;

    }
    .search_input{
        font-size:16px;
        margin: 15px 0px 20px 2px ;
        padding: 10px;
    }
    .clear_button{
        position: absolute;
        top:31px;
        right:90px;
    }
    .fa-magnifying-glass{
        font-size: 1rem;
    }
}
@media screen and (min-width:394px) and (max-width:400px){
    body{
        min-width:90%;
        margin: 0 auto;
    }
    header h1{
        font-size: 40px;
        margin-bottom: 40px;

    }
    .input_layer {
        display: flex;
        padding-left: 52px;
        padding-right: 75px;
    }
    
    
    .main-container{
        padding:10px;
    }
    .input_middle{
        display: flex;
        padding-left: 52px;
        padding-right: 75px;
    }
    .input_field{
        font-size:16px;
        margin: 15px 0px 20px 2px ;
        padding: 6px;
    }
    .main-container .input_btn{
        top:24px;
        right:10px;
        width:60px;
        height:32px;
    }
    .search_icon{
        position: absolute;
        top: 28px;
        left:200px;
        width:22px;
        height:22px;
        font-size: 20px;
       
    }
    .plus_icon{
        position: absolute;
        top: 28px;
        width:27px;
        height:27px;
        font-size: 15px;
        padding: 5px 4px 3px 9px;

    }
    .search_input{
        font-size:16px;
        margin: 15px 0px 20px 2px ;
        padding: 6px;
    }
    .clear_button{
        position: absolute;
        top:31px;
        right:90px;
    }
}

@media screen and (min-width:401px) and (max-width:414px){
    body{
        min-width:90%;
        margin: 0 auto;
        padding-top: 80px;

    }
    header h1{
        font-size: 40px;
        margin-bottom: 40px;

    }
    .main-container{
        padding:10px;
    }
    .input_layer {
        display: flex;
        padding-left: 47px;
        padding-right: 74px;
    }
    
    
    .input_middle{
        display: flex;
        padding-left: 47px;
        padding-right: 74px;
    }
    .input_field{
        font-size:16px;
        margin: 15px 0px 20px 2px ;
        padding: 6px;
        height: 40px;
    }
    .main-container .input_btn{
        top:24px;
        right:10px;
        width:60px;
        height:40px;
    }
    .search_icon{
        position: absolute;
        top: 28px;
        width:35px;
        height:35px;
        font-size: 20px;
        margin-left: 20px;

       
    }
    .plus_icon{
        position: absolute;
        top: 28px;
        width:35px;
        height:35px;
        font-size: 15px;
        padding: 7px 4px 3px 7px;
        margin-left: 20px;


    }

    .search_input{
        font-size:16px;
        margin: 15px 0px 20px 2px ;
        padding: 6px;
        height: 40px;
    }
    .clear_button{
        position: absolute;
        top:31px;
        right:95px;
    }
    .fa-keyboard{
        font-size: 1.2rem;
    }
    

}
@media screen and (min-width:415px) and (max-width:767px){
    body{
        min-width:90%;
        margin: 0 auto;
    }
    header h1{
        font-size: 40px;
        margin-bottom: 40px;

    }
    .main-container{
        padding:10px;
    }
    .input_field{
        font-size:16px;
        margin: 15px 0px 20px 2px ;
        padding:10px;
        min-width:100%; 
        height: 40px;

    }
    .input_layer {
        display: flex;
        padding-left: 47px;
        padding-right: 75px;
    }
    
    
    .input_middle{
        display: flex;
        padding-left: 45px;
        padding-right: 75px;
    }
   .main-container .input_btn{
        top:24px;
        right:10px;
        width:60px;
        height: 40px;
    }
    .search_icon{
        font-size: 20px;
        height: 35px;
        position: absolute;
        top: 28px;
        left: -10px;
        width: 35px;
        margin-left: 20px;
    }
    .plus_icon{
        font-size: 20px;
        height: 35px;
        position: absolute;
        top: 28px;
        left: -10px;
        width: 35px;
        padding: 3px 4px 4px 6px;
        margin-left: 20px;

    }
    .search_input{
        font-size:16px;
        margin: 15px 0px 20px 2px ;
        padding: 10px;
        height: 40px;

    }
    .clear_button{
        position: absolute;
        top:35px;
        right:93px;
    }
}
/* from 768 to 1023 it will be like this */
@media screen and (min-width:768px) and (max-width:1024px){
    body{
        margin: 0 auto;
        min-width: 80%;
        padding-top: 140px ;
    }

    .main-container{
        position: relative;
        width: 100%;
        min-height: 520px;
        background: rgba(253, 253, 253, 0.53);
        border-radius: 12px;
        padding:20px;
        margin-top: 20px;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.685);
    }
    
    .input_field{
        font-size: 28px;
        padding: 15px;
        width:100%; 
        height: 50px;

    }
    .input_middle{
        display: flex;
        padding-left: 68px;
        padding-right: 94px;
        margin-top: 1px;
    

        /* margin: 20px auto; */
    }
    .middle_layer{
        min-height: 40px;
        margin-top: 40px;

    }
    .main-container .input_btn{
        height: 50px;
        right: 20px;
        top: 27px;
        width: 75px;
        font-size: 1.2rem;
    }
    .search_icon{
        font-size: 22px;
        height: 46px;
        left: -20 px;
        position: absolute;
        top: 30px;
        width: 46px;
    }
    .plus_icon{
    font-size: 20px;
    height: 46px;
    position: absolute;
    top: 30px;
    width: 46px;
    padding: 10px 2px 3px 10px;
    }
    /* .fa-solid.fa-plus{
        font-size: 1.2rem;
    } */
    .search_input{
        font-size: 1.7rem;
        padding: 15px;
        height: 50px;
        font-weight: 300;


    }
    .clear_button{
        position: absolute;
        top:40px;
        right:115px;
        font-size: 1.2rem;
    }
    .input_layer {
        display: flex;
        padding-left: 68px;
        padding-right: 94px;
        /* font-size: medium; */
        margin-top: -7px;

    }
    .todo_count{
        margin-top: -20px;
    }
  
    .fa-circle-xmark{
    font-size: 1.4rem;
    font-weight: 300;
    }
    .fa-keyboard{
        font-size: 1.5rem;
            }
   }
   @media screen and (min-width:1025px) and (max-width:1280px){

   }
   @media screen and (min-width:1281px) {

   }